<div class="sidebar-radius">
  <h1 class="goplanit-white">Goplanit</h1>
  <div class="profile-container">
    <% if @current_user.present? %>
    <%= cl_image_tag(@current_user.profile_image, :class => "profile-picture") %>
    <p class="profile-bold">@<%= @current_user.username %></p>
    <p class="profile">Name: <%= @current_user.name %></p>
    <p class="profile">Date of Birth: <%= @current_user.dob %></p>
    <p class="profile">Email: <%= @current_user.email %></p>
    <% end %>
  </div>
</div>

<main class="main-trip-container">
  <h1> <%= @trip.title %></h1>

  <%= image_tag @trip.image, :class => 'feature', :alt => @trip.title if @trip.image.present? %>

  <ul>
    <li><strong>Start Date:</strong> <%= @trip.start_date %></li>
    <li><strong>End Date:</strong> <%= @trip.end_date %></li>
  </ul>

  <div class="items">
    <% @trip.items.each do |item| %>
    <p><strong>Flight:</strong> <%= item.flight %></p>
    <p><strong>Accomodation:</strong> <%= item.accomodation %></p>
    <p><strong>Activities:</strong> <%= item.activity %></p>
    <p><strong>Transportation:</strong> <%= item.transport %></p>
    <p><strong>Insurance:</strong> <%= item.insurance %></p>
    <p><strong>Miscellaneous:</strong> <%= item.misc %></p>
    <div class="item-links">
      <%= link_to "Edit Details", edit_item_path(item) %>
      <% end %>
      <% if @trip.present? %>
      <%= link_to "Add Details", new_item_path(@item, :trip_id => @trip.id) %>
      <% end %>
    </div>
  </div>

  <div class="controls">
    <%= link_to "Edit trip", edit_trip_path(@trip) %>
    <%= link_to "Remove trip", @trip, :method => :delete, :data => { :confirm => 'You are about to delete this trip. Would you like to proceed?' } %>
  </div>
</main>
