<div class="sidebar-radius">
  <h1 class="goplanit-white">Goplanit</h1>
  <div class="profile-container">
    <% if @current_user.present? %>
    <%= cl_image_tag(@current_user.profile_image, :class => "profile-picture") %>
    <p class="profile-bold">@<%= @current_user.username %></p>
    <p class="profile">Name: <%= @current_user.name %></p>
    <p class="profile">Date of Birth: <%= @current_user.dob %></p>
    <p class="profile">Email: <%= @current_user.email %></p>
    <% end %>
  </div>
</div>

<div class="user-trips-container">
  <h1 class="upcoming-trips">Upcoming Trips...</h1>
  <div>
    <% if @current_user.trips.present? %>
    <% @trips.each do |trip| %>
    <div class="trip-box">
      <%= image_tag(trip.image, :class => 'thumb') %>
      <div class="trip-display">
      <h2 class="trip-link"><%= link_to trip.title, trip %></h2>
      <div class="trip-date">
        <p class="date-font"><%= trip.start_date %> - <%= trip.end_date %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
