<h2> <%= @item.title %></h2>

<% if @trip.items.any? %>
<% @items.each do |item| %>
<li>Flight: <%= link_to item.flight, trip_path(item.id) %></li>
<li>Accomodation: <%= link_to item.accomodation, trip_path(item.id) %></li>
<li>Activities: <%= link_to item.activity, trip_path(item.id) %></li>
<li>Transportation: <%= link_to item.transport, trip_path(item.id) %></li>
<li>Insurance: <%= link_to item.insurance, trip_path(item.id) %></li>
<li>Miscellaneous: <%= link_to item.misc, trip_path(item.id) %></li>
<% end %>
<% end %>

<div class="controls">
  <%= link_to "Edit item", edit_item_path(@item) %>
  <%= link_to "Remove item", @item, :method => :delete, :data => { :confirm => 'You are about to delete this item. Would you like to proceed?' } %>
</div>
